.frequencyBars {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  /* padding-top: 25%; */
}

.bar {
  border-radius: 3px;
  background-color: antiquewhite;
  padding: 5px;
  margin: 2px;
  /* Below makes the bars jump up */
  /* transform: rotatex(180deg); */
  /* transform-origin: top; */
}
